:root {
    --dark-gray: #5b5b5b;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 80vh;
}

.content-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-about header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-about header h2 {
    font-size: 1.3rem;
    height: 60px;
}

.about-content {
    width: 85%;
}

.about-content > p {
    text-align: justify;
    line-height: 30px;
    color: var(--dark-gray);

}

.thanks {
    width: 100%;
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

