@media screen and (min-width: 769px) and (max-width: 1024px) {
    .swiper {
        width: 90%;
        max-width: 800px;
    }
}

@media screen and (min-width: 1025px) {
    .swiper {
        max-width: 1200px;
    }
}