@media screen and (min-width: 481px) and (max-width: 768px) {
  .portifolio {
    gap: 90px;
  }

  .portifolio header h2 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .portifolio {
    gap: 100px;
  }

  .portifolio header h2 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1025px) {
  .portifolio {
    gap: 110px;
  }

  .portifolio header h2 {
    font-size: 1.7rem;
  }
}

@media screen and (min-height: 801px) and (max-height: 900px) {
  .portifolio {
    height: 84vh;
  }
}

@media screen and (min-height: 1001px) and (max-height: 1500px) {
  .portifolio{
    height: 60vh;
  }
}