@media screen and (min-width: 480px) and (max-width: 768px) {
  .fa-envelope {
    height: 1rem !important;
  }

  .fa-copy {
    height: 1rem !important;
  }

  .contact {
    margin-top: 24rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fa-envelope {
    height: 1rem !important;
  }

  .fa-copy {
    height: 1rem !important;
  }

  .contact {
    margin-top: 13rem;
  }
}
@media screen and (min-width: 1025px) {
  .fa-envelope {
    height: 1rem !important;
  }

  .fa-copy {
    height: 1rem !important;
  }

  .contact {
    margin-top: 10rem;
  }
}

@media screen and (min-height: 500px) and (max-height: 699px) {
  .contact{
    margin-top: 30rem;
  }
}

@media screen and (min-height: 742px) and (max-height: 800px) {
  .contact{
    margin-top: 30rem;
  }
}
@media screen and (min-height: 801px) and (max-height: 1000px) {
  .contact{
    margin-top: 22rem;
  }
}
@media screen and (min-height: 1001px) and (max-height: 1500px) {
  .contact{
    margin-top: 0rem;
  }
}
