@media screen and (min-width: 481px) and (max-width: 768px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
    
        min-height: 80vh;

        width: 100%;
    }
    
    .content-about {
        width: 85%;
    }

    .content-about header {
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: 100%;
    }
    
    .content-about header h2 {
        font-size: 1.7rem;
        height: 60px;
    }
    
    .about-content {
        width: 100%;
    }
    
    .about-content > p {
        text-align: justify;
        line-height: 30px;
        color: var(--dark-gray);

        font-size: 1.2rem;
    
    }
    
    .thanks {
        width: 100%;
        text-align: center;
        line-height: 30px;
        margin-bottom: 30px;
        margin-top: 20px;
        font-size: 1.2rem;
        color: var(--dark-gray);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
    
        min-height: 80vh;

        width: 100%;
    }
    
    .content-about {
        width: 85%;
        display: flex;
        gap: 50px;
    }

    .content-about header {
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: 100%;
    }
    
    .content-about header h2 {
        font-size: 1.7rem;
        height: 60px;
    }
    
    .about-content {
        width: 100%;
    }
    
    .about-content > p {
        text-align: justify;
        line-height: 30px;
        color: var(--dark-gray);

        font-size: 1.25rem;
    
    }
    
    .thanks {
        width: 100%;
        text-align: center;
        line-height: 30px;
        margin-bottom: 30px;
        margin-top: 20px;
        font-size: 1.25rem;
        color: var(--dark-gray);
    }
}

@media screen and (min-width: 1025px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
    
        min-height: 60vh;

        width: 100%;
    }
    
    .content-about {
        width: 85%;
        max-width: 800px;

        display: flex;
        gap: 50px;
    }

    .content-about header {
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: 100%;
    }
    
    .content-about header h2 {
        font-size: 1.7rem;
        height: 60px;
    }
    
    .about-content {
        width: 100%;
    }
    
    .about-content > p {
        text-align: justify;
        line-height: 30px;
        color: var(--dark-gray);

        font-size: 1.25rem;
    
    }
    
    .thanks {
        width: 100%;
        text-align: center;
        line-height: 30px;
        margin-bottom: 30px;
        margin-top: 20px;
        font-size: 1.25rem;
        color: var(--dark-gray);
    }
}