.portifolio {
    height: 85vh;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

.portifolio header h2 {
    font-size: 1.3rem;
    height: 80px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}