.swiper {
  height: 500px;
  width: 100%;
  max-width: 330px;
  padding: 8px;
}

.swiper-wrapper {
  width: 360px;
}

.swiper-slide {
  max-width: 380px;
  width: 80%;
  min-width: 360px;
  margin-right: 20px !important;
}
