:root {
    --dark-gray: #5b5b5b;
}

.scroll {
    background-color: var(--dark-gray);
    color: #ebebeb;
    height: 5em !important;
}

.scrollb {
    color: #ebebeb !important;
}

.navBarScroll {
    background-color: var(--dark-gray);
    top: 5rem !important;
    color: #ebebeb;
}

.header {
    height: 6em;
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    transition: .3s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 100%;

    color: var(--dark-gray);
}

.logo h1 {
    font-size: 1.2rem;
}

.laptopIcon {
    font-size: 1.1rem;
}

.menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 6em;
    left: 30px;

    background-color: transparent;

    transition: .3s;
}

.navMenu {
    position: absolute;
    width: 100%;
    top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    transition: .3s;
}

.navMenu nav ul li {
    list-style: none;
}

.navMenu nav ul li a{
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 1rem;
    font-weight: 600;
    line-height: 30px;
}